.hommes-qui-sommes-nous {
    background-color: #70358E;
}

.hommes-qui-sommes-nous-title {
    color: white;
}

.hommes-qui-sommes-nous-comment {
    color: white;
}

.notre-vision {
    background-color: #F9D03B;
}